body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(./img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 60px;
    padding-right: 60px;
}

header {
    padding: 1px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3.5px solid white;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding-left: 50px;
    padding-top: 90px;
    position: relative;
}

button{
    border-radius: 100px;
    width: 330px;
    height: 110px;
    background-color: #f60b7c;
    cursor: pointer;
    font-size: 35px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
    margin-left: 250px;
}

h1, h2 {
    margin: 0;
    line-height: 1.2;
    font-family:'Inter', sans-serif;
}

h1{
    font-size: 110px;
    font-weight: 900;
    color: white;
    font-style: italic;
}

h2 {
    font-size: 90px;
    font-weight: 100;
    font-style: italic;
    color: white;
}

p{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-top: 50px;
}

nav {
    margin-left: 230px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 150px;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
    color: white;
    font-size: 34px;
    transition: transform 0.3s ease;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.2);
}

form {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

input[type='text'] {
    width: 280px;
    height: 40px;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 100px;
    flex: 1;
    max-width: 400px;
}


.nike-logo{
    width: 250px;
    height: auto;
    margin-left: 1px;
    transition: transform 0.3s ease;
}

.nike-logo:hover{
    transform: scale(1.2);
}

.search-icon{
    width: 40px;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.search-icon:hover{
    transform: scale(1.2);
}

.stars{
    display: flex;
    margin-top: 50px;
    gap: 50px;
    justify-content: flex-start;
}

.star{
    width: 55px;
    transition: transform 0.3s ease; 
}

.star:hover {
    transform: scale(1.2); 
}

.TN-img{
    position: absolute;
    left: 1120px;
    top: 20px;
    transform: rotate(-30deg);
}

.TN-img img {
    width: 1300px;
    height: auto;

}


.background-image{
    position: absolute;
    top: -600px;
    left: 1250px;
    width: 2500px;
    height: 2500px;
    background-image: url(./img/barcelonamelhorado.png);
    background-size: contain; 
    background-position: left; 
    background-repeat: no-repeat;
    opacity: 0.10; 
    z-index: -1;
    transform: rotate(-30deg);
}

.text-content {
    text-align: left;
}

.video-img{
    position: absolute;
    top: 1070px;
    left: 2100px;
    transition: transform 0.3s ease; 
}

.video-img:hover {
    transform: scale(1.2); 
}

.trailer-text1{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    top: -45px;
    left: 120px;
    font-size: 40px;
    font-style: italic
}

.trailer-text2{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    top: -5px;
    left: 120px;
    font-size: 55px;
    font-style: italic;
}