body {
    margin: 0;
    padding: 0;
    background-image: url(./img/Group\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    padding: 1px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 150px;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
    color: white;
    font-size: 34px;
    transition: transform 0.3s ease;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.2);
}

form {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

input[type='text'] {
    width: 280px;
    height: 40px;
    font-size: 20px;
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 100px;
    flex: 1;
    max-width: 400px;
}


.nike-logo{
    width: 250px;
    height: auto;
    margin-left: 1px;
    transition: transform 0.3s ease;
}

.nike-logo:hover{
    transform: scale(1.2);
}

.search-icon{
    width: 40px;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.search-icon:hover{
    transform: scale(1.2);
}
