body {
    margin: 0;
    padding: 0;
    background-color: #0905A6;
}

header {
    background-color:#0905A6;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

form {
    display: flex;
    align-items: center;
}

input[type='text'] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    flex: 1;
    max-width: 200px;
}


.nike-logo{
    width: 130px;
    height: auto;
    margin-right: 15px;
}

.search-icon{
    width: 20px;
    height: auto;
    cursor: pointer;
    margin-right: 5px;
}
